.home-root {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;

  &__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 60px;
    svg {
      border: 5px solid white;
      border-radius: 100%;
      width: 50px;
      
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
