.card-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  img {
    max-width: 255px;
    max-height: 380px;
  }

  filter: drop-shadow(10px 10px 0px white);

  animation: scaleIn .75s;

  .react-loading-skeleton {
    width: 255px;
    height: 380px;
  }

  &__box-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    padding: 10px;
    width: 90%;

    font-size: 12px;
    
    background-color: white;
    border: thin solid DarkGray ;
    border-radius: 30px;

    span {
      font-size: 0.6rem;
      text-transform: uppercase;
    }
  }
}
