.App {
  text-align: center;

  &__container {
    align-items: center;
    background-color: #282c34;
    color: white;
    display: inline-grid;
    font-size: calc(10px + 2vmin);
    gap: 6;
    justify-content: center;
    min-height: 100vh;
  }
}
